<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imed">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IMed">
        <activity android:name=".tela_lista_meus_medicamentos"></activity>
        <activity android:name=".tela_paciente_meus_medicamentos" />
        <activity android:name=".tela_paciente_loggedin_minhas_receitas" />
        <activity android:name=".tela_medico_loggedin_gerar_receita" />
        <activity android:name=".tela_delete_account" />
        <activity android:name=".tela_estoque_medico" />
        <activity android:name=".tela_estoque" />
        <activity android:name=".tela_farmaceutico_loggedin_cadastrar_medicamento" />
        <activity android:name=".tela_farmaceutico_loggedin_verifica_receita" />
        <activity android:name=".tela_create_account_adm" />
        <activity android:name=".tela_paciente_loggedin" />
        <activity android:name=".tela_adm_loggedin" />
        <activity android:name=".tela_farmaceutico_loggedin" />
        <activity android:name=".tela_medico_loggedin" />
        <activity android:name=".tela_login_adm" />
        <activity android:name=".tela_create_account_paciente" />
        <activity android:name=".tela_login_farmaceutico" />
        <activity android:name=".tela_login_screen_medico" />
        <activity android:name=".tela_login_paciente" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>